*
{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    height: 100%;
}

.hero{
    width: 100%;
    height: 100%;
    display: block;
    background: #f1f1f2;
    min-height: 100%;
    position: relative;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

img
{
    width:100%;
    height: auto;
}


/*Nav*/
nav{
    height: 100px;
    background: #c6c4c4;
    width:100%;
    float:left;
}

#logout{
    width: 100px;
    float: right;
    margin-right: 2%;
    margin-top: 30px;
}

#account{
    width: 100px;
    float: right;
    margin-right: 2%;
    margin-top: 30px;
}

#logo{
    width: 100px;   
}

#logo:hover{
    opacity: 0.5;
}

#account:hover{
    opacity: 0.5;
}


/*Main*/
.box{
    font-family: 'Oswald', sans-serif;   
    float:left;
}
main
{
    float:left;
    width:100%;
}


main > *
{
    float:left;
}


.box a{
    margin: 0;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
}

.box a:hover{
    opacity: 0.5;
}

.box p{
    margin: 0;
    font-size: 0.8rem;
}

.imgSmall{
    width: 100%;
}


/*footer*/

#footerFix
{
    clear:both;
    height:100px;
}
footer{
    margin-top: 2rem;
    background: #c6c4c4;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0px;
    height: 100px;
    width:100%;
}


/*columns*/
.col-2, .col-3, .col-4, col-1, col-10, col-12 {
    box-sizing: border-box;
}
.col-1 {
    max-width: 8.3%;
}
.col-2{
    max-width: 16.6%
}
.col-3 {
    max-width: 25%;
    padding: 2%;
}
.col-4 {
    max-width: 33.3%;
}
.col-10{
    max-width: 83.3%
}
.col-12 {
    max-width: 100%;
}

@media(max-width: 1000px){
    .col-2, .col-3, .col-4, col-1, col-10, col-12{
        max-width: 50%;
    }
}

@media(max-width: 768px){
    .col-2, .col-3, .col-4, col-1, col-10, col-12{
        max-width: 100%;
    }
}
