.updateForm{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#account{
    margin-left: 0;
    float: right;
    margin-bottom: 0;
    margin-top: 30px;
}